* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-areas:
    'header header header'
    'showcase showcase showcase'
    'footer footer footer';

  grid-auto-rows: 7fr 3fr 1fr;
  height: 100vh;
  margin:0 161px;
  border: 10px solid black;
}

.header {
  grid-area: header;
  border: 1px solid red;
}
.showcase {
  grid-area: showcase;
}

.footer {
  grid-area: footer;
}
