:root {
  --white-color: #fff;
  --blue-color: #08c;
  --dark-color: #6e6e6e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    'Lucida Grande',
    'Lucida Sans Unicode',
    Helvetica,
    Arial,
    Verdana,
    sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.875rem;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
}

.container {
  grid-template-areas:
    'header header header'
    'showcase showcase showcase'
    'footer footer footer';
  grid-auto-rows: 500px auto auto;
  margin: 0 auto;
  width: 100%;
}

.header {
  grid-area: header;
  justify-content: center;

  /* position: relative; */
}

.header a.header-link {
  display: block;
  height: 100%;
  background: url(../images/header-bg.jpg) no-repeat 22% 100% / cover;
}

nav {
  position: absolute;
  top: 68px;
  left: 260px;
  grid-template-columns: repeat(auto-fit, minmax(102px, auto));
  grid-auto-flow: column;
  grid-auto-rows: 30px;
  justify-items: stretch;
  align-items: center;
  text-align: center;
  background-image: url(../images/navbar-bg-image.png);
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  width: 980px;
}

nav > a {
  border-right: 1px solid black;
  display: block;
  height: 100%;
  color: var(--white-color);
}

input {
  display: inline-block;
  width: 110px;
  margin: 0 0.3rem;
  border-radius: 4px;
  border: none;
  height: 20px;
  background-color: transparent;
  color: var(--white-color);
}

input::placeholder {
  font-size: 0.6rem;
  color: var(--white-color);
  margin-left: 0.7rem;
}

input:focus {
  outline: none;
  animation: search-focused;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes search-focused {
  0% {
    background-color: var(--white-color);
    opacity: 0.1;
  }

  100% {
    background-color: #999;
    width: 150px;
    margin-right: 0.3rem;
    opacity: 1;
  }
}

.header-image-links {
  position: absolute;
  top: 150px;
  left: 270px;
}

.header-text p {
  margin-top: 1.5rem;
  text-align: center;
  color: var(--white-color);
  font-size: 1.8rem;
  font-weight: 100;
}

.sub-link-lg {
  background-image: url(../images/sub-title-lg-bg.png);
  width: 980px;
  height: 104px;
}

.sub-title-md {
  background-image: url(../images/sub-title-md-bg.png);
  background-position: center center;
  width: 980px;
  height: 82px;
}

.sub-title-sm {
  background-image: url(../images/sub-title-sm-bg.png);
  background-position: center 0;
  width: 980px;
  height: 32px;
  margin-top: 1.4rem;
}

.sub-title-sm:hover {
  background-position-y: -32px;
}

.showcase {
  grid-area: showcase;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(187.3px, auto);
}

.showcase .first {
  background: url(../images/showcase-first.jpg) no-repeat center center/cover;
}

.showcase .second {
  background: url(../images/showcase-second.jpg) no-repeat center center/cover;
}

.showcase .third {
  background: url(../images/showcase-third.jpg) no-repeat center center/cover;
}

.showcase .fourth {
  background: url(../images/showcase-fourth.jpg);
}

.footer {
  grid-area: footer;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-auto-flow: column;
  width: 940px;
  margin: 0 auto;
  font-size: 10px;
  color: var(--dark-color);
}

.footer a {
  color: var(--blue-color);
}

.footer-left .copyright {
  grid-auto-flow: column;
  justify-content: start;
  grid-gap: 0.5rem;
}

.footer-right {
  grid-auto-flow: column;
  justify-items: start;
  align-items: start;
}

.footer-right a::after {
  content: ' ';
  padding: 0 0.075rem;
  height: 10px;
  border-right: 1px solid #ccc;
}

.footer-right .footer-icon {
  margin-top: 0.25rem;
}

.footer-right .footer-icon a::after {
  display: none;
}

nav > a:hover {
  background:
    linear-gradient(rgba(97, 94, 94, 0.45), rgba(40, 40, 40, 0.45)),
    url(../images/navbar-bg-image.png);
}
