:root {
  --white-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.875rem;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

.container {
  display: grid;
  grid-template-areas:
    'header header header'
    'showcase showcase showcase'
    'footer footer footer';
  grid-auto-rows: 500px 3fr 1fr;
  height: 100vh;
  margin: 0 161px;
}

.header {
  grid-area: header;
  background: url(https://archive.fo/UW4oR/c737ac2a39d31e8407c5d08a73daddc5ddcf5d3e.jpg) no-repeat 22% 100% / cover;
  justify-content: center;
}

nav {
  display: grid;
  grid-template-columns: repeat(8, 102px) 132px;
  grid-auto-rows: 30px;
  justify-items: stretch;
  align-items: center;
  text-align: center;
  width: 940px;
  margin: 0 auto;
  margin-top: 120px;
  background-image: url(https://archive.fo/UW4oR/959dc37b1b6692997a6d3ab19862dd59e5e83ecf.png);
  border-radius: 4px;
  border: 1px solid #4c4c4c;
}

nav > a {
  border-right: 1px solid black;
  display: block;
  height: 100%;
}

input {
  display: inline-block;
  width: 110px;
  margin-left: 0.3rem;
  border-radius: 4px;
  border: none;
  height: 20px;
  background-color: transparent;
  color: var(--white-color);
}

input::placeholder {
  font-size: 0.6rem;
  color: var(--white-color);
  margin-left: 0.7rem;
}

.header-image-links {
  margin-top: 1.5rem;
}

.header-text p {
  margin-top: 1.5rem;
  text-align: center;
  color: var(--white-color);
  font-size: 1.8rem;
  font-weight: 100;
}

.sub-title {
  background-image: url('https://web.archive.org/web/20140301004341im_/http://images.apple.com/home/images/cta_your_verse_27pt.png');
  background-position: 50% 0;
  height: 32px;
}

.sub-title:hover {
  background-position-y: -32px;
}

.showcase {
  grid-area: showcase;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
}

.showcase img {
  width: 100%;
  height: 100%;
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 90px;
  width: 940px;
  margin: 0 auto;
  border: 1px solid #4c4c4c;
}

.footer-left {
  background: red;
  color: white;
}

.footer-right {
  background: blue;
  color: black;
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
  font-size: 10px;
}

nav > a:hover {
  cursor: pointer;
}
