* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-areas:
    'header header header'
    'showcase showcase showcase'
    'footer footer footer';

  grid-auto-rows: 7fr 3fr 1fr;
  height: 100vh;
  margin:0 161px;
  /* border: 10px solid black; */
}

.header {
  grid-area: header;
  
  background: url(https://archive.fo/UW4oR/c737ac2a39d31e8407c5d08a73daddc5ddcf5d3e.jpg) no-repeat 22% 100%/cover;
    
}
.showcase {
  grid-area: showcase;
}

.footer {
  grid-area: footer;
}
